.choose-main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
.choose-head {
  text-align: center;
  text-decoration: 2px solid blue;
  font-size: 20px;
}
.learn-cards {
  display: flex;
  justify-content: space-between;
  width: 45%;
}
.header-footer-style {
  background-color: navy;
  color: #ffffff;
}
.cards-3 {
  width: 40%;
  margin-bottom: 50px;
}
.bg {
  background-color: lightsteelblue;
}
@media screen and (max-width: 767px) {
  .cards-3 {
    width: 100%;
  }
}
